PokeApp/Charizard.json
PokeApp/Charizardc.json
PokeApp/Charizard .json
PokeApp/Chamander.json
PokeApp/chamander.json
PokeApp/pikachu.json
PokeApp/Charmander.json
PokeApp/charmander.json
PokeApp/celebi.json
PokeApp/Mew.json
PokeApp/Meowth.json
PokeApp/bulbasaur.json
PokeApp/squirtle.json
PokeApp/*.json